body, #input {
    color: #005fff;
    background-color: #1f1f1f;
    font-family: 'Inconsolata', monospace;
}

p {
    margin: 0;
}

#output {
    padding: 8px;
}

#input {
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 4px;
}
