:root {
    --primary-color: #005fff;
    --secondary-color: #1f1f1f;
    --log-color: #7f7f7f;
}

html, body {
    height: 100%;
}

body, #input {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-family: 'Inconsolata', monospace;
}

p {
    margin: 0;
    padding: 0;
}

#output {
    padding: 8px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#input {
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 2px solid var(--primary-color);
}

.log {
    color: var(--log-color);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 9999px;
}
